body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

.friendsList {
   
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}

#main {
    text-align: center;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.userNameInput {
    text-align: center;
}
.userInput {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    transition: box-shadow 0.4s, border 0.3s;
}
.userInput:focus {
    border: 1px solid black;
    box-shadow: 0 0 5px 1px #969696;
}

#main .chatRooms{
    position: absolute;
    top: 10%;
    left: 70%;
}
